# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Large data
*.nc
*.zip
*.gz

# OSx junk
*DS_Store*

# Repo specific

# Hurricane use case
!ascat_20241004_114200_metopb_62508_eps_o_coa_3301_ovw.l2.nc

